<meta charset="utf-8">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script type="text/javascript" src="/javascripts/loadactivity.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <!-- Bootstrap Form Helpers -->
    <link href="css/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap Form Helpers -->
    <link href="http://bootstrapformhelpers.com/assets/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap -->
    <script src="http://bootstrapformhelpers.com/assets/js/bootstrap.min.js"></script>

    <!-- Bootstrap Form Helpers -->
    <script src="http://bootstrapformhelpers.com/assets/js/bootstrap-formhelpers.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.css" rel="stylesheet"/>
    <style>
    
    #custom-handle {
      width: 3em;
      height: 1.6em;
      top: 50%;
      margin-top: -.8em;
      text-align: center;
      line-height: 1.6em;
    }

    .check{
      height:20px;
      width:20px;
    }

    div.row{
      margin:50px;
      margin-left:100px;
      margin-right:100px;
      font-size:17px;
    }
    p{
        font-size:20px;
    }
    </style>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
    $( function() {

      var handle = $( "#custom-handle" );
      $( "#slider" ).slider({
        min:1,
        max:9,
        step:1,
        value:5,
        create: function() {
          handle.text( $( this ).slider( "value" ) );
        },
        slide: function( event, ui ) {
          handle.text( ui.value );
          $( "#political_spectrum" ).val( ui.value );
        }
      });
    } );

    function submitAll() {
        var sum = items.length;
        if(sum==0){
            return true;
        } else{
            alert("Please drag and drop all the people into the blue area");
            return false;
        }
    }

    </script>
</head>
<body>
	<!-- jQuery -->
	<script src="js/jquery-1.10.2.min.js"></script>
	
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Bootstrap Form Helpers -->
	<script src="js/bootstrap-formhelpers.min.js"></script>
  
    <header style="background-color: #38a3a5;">
      <div class="px-3 py-2 text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
              &nbsp;
              &nbsp;
              <span style="font-size:30px;">Split Consensus - Post Study Demographic Survery</span>
            </a>
          </div>
        </div>
      </div>
    </header>
    


		
<div style="margin-left:44px;margin-right:44px;">
    <div class="text-center mt-4">
        <p class="py-2 text-danger" id="errorText1"> {{ error }} </p>
        <p><b>Please answer the following to the best of your ability.  
                All answers will be kept confidential and will only be reported 
                statistically (grouped with others’ responses). 
        </b></p>
        <div>
        <form class="form-group" id="subForm" action="/end/{{ userID }}/" method="POST" onsubmit="return submitForm()">
          <div class="row" style="border:solid lightblue;border-radius:20px;padding:20px;">
            <label style="font-size:20px;" for="year_of_birth">Enter your year of birth</label>
            <input style="border-radius:20px;" type="number" min="1900" max="2021" step="1" class="form-control" id="year_of_birth" name="year_of_birth" placeholder="" value="" required>
          </div>  

          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;">
            <label style="font-size:20px;" for="country_birth">Select your country of birth</label>
            <select style="border-radius:20px;" id="country_birth" name="country_birth" class="bfh-countries form-control" data-country="IN" data-flags="true" required></select>
            <br><br>
            <label style="font-size:20px;" for="state_birth">Select your state of birth</label>
            <select style="border-radius:20px;" id="state_birth" name="state_birth" class="bfh-states form-control" data-country="country_birth" required></select>
          </div> 

          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;">
            <label style="font-size:20px;" for="state_residence">Select your state of residence in <b>India</b></label>
            <select style="border-radius:20px;" id="state_residence" name="state_residence" class="bfh-states form-control" data-country="IN" required></select>
          </div>  

          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;">
            <label style="font-size:20px;" for="gender">Select your gender</label>

            <label style="margin-left:50px;margin-right:50px;">
              <input type="radio" name="gender" id="gender" value="male" checked>
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
              </svg>
              Male
            </label>

            <label style="margin-right:50px;">
              <input type="radio" name="gender" id="gender" value="female">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
              </svg>
              Female
            </label>

            <label style="margin-right:50px;">
              <input type="radio" name="gender" id="gender" value="other">
              <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-gender-trans" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1.707L3.5 2.793l.646-.647a.5.5 0 1 1 .708.708l-.647.646.822.822A3.99 3.99 0 0 1 8 3c1.18 0 2.239.51 2.971 1.322L14.293 1H11.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-3.45 3.45A4 4 0 0 1 8.5 10.97V13H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V14H6a.5.5 0 0 1 0-1h1.5v-2.03a4 4 0 0 1-3.05-5.814l-.95-.949-.646.647a.5.5 0 1 1-.708-.708l.647-.646L1 1.707V3.5a.5.5 0 0 1-1 0v-3zm5.49 4.856a3 3 0 1 0 5.02 3.288 3 3 0 0 0-5.02-3.288z"/>
              </svg>
              Other
            </label>

            <label style="margin-right:50px;margin-top:20px;">
              <input type="radio" name="gender" id="gender" value="rather_not_say">
              I'd rather not say
            </label>
          </div> 

          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;">
            <label style="font-size:20px;" for="slider" style="margin-right:50px;">I identify on the following position of the political spectrum.</label>
            <br>
            <br>
            <div style="margin-bottom:40px;">
              <div id="slider" style="width:60%;margin-left:16%;">
                <img src="\images\lines\labels2.png" style="width:119%;margin-bottom:200px;height:auto;margin-top:15px;margin-left:-10%;">
              </div>
              <input id="political_spectrum" name="political_spectrum" type="hidden" value="">
            </div>
              <label style="font-size:20px;margin-top:50px;" for="no"><input class="check" type="checkbox" name="no" id="no"> I'd rather not state my political identification</label>
          <label style="color:red;">(Please use the following wikipedia links to find out more about <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_left-wing_political_parties">left-wing</a> parties and <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_right-wing_political_parties">right-wing</a> parties in <b>India</b> if required)</label>
          </div>  

          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;">
              <label style="font-size:20px;text-align:left;">This project covered a variety of topics that may cause certain participants to feel uncomfortable. 
                 Please tick the checkboxes next to any topic that you were not comfortable answering (or being asked about).</label>
                <br>
                <div style="text-align:left;margin-left:20px;font-size:20px;">
                <label style="display: block;" for="topic1"><input style="vertical-align: bottom;position: relative;" type="checkbox" id="topic1" name="topic" value="lgbtq_community"> The LGBTQ+ Community</label>
                <label style="display: block;" for="topic2"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic2" name="topic" value="religion"> Religion</label>
                <label style="display: block;" for="topic3"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic3" name="topic" value="workforce"> The Workforce</label>
                <label style="display: block;" for="topic4"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic4" name="topic" value="body_weight"> Body-weight</label>
                <label style="display: block;" for="topic5"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic5" name="topic" value="climate_change"> Climate change</label>
                <label style="display: block;" for="topic6"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic6" name="topic" value="future"> The Future</label>
                <label style="display: block;" for="topic7"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic7" name="topic" value="getting_older"> Getting older</label>
                <label style="display: block;" for="topic8"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic8" name="topic" value="security"> Safety and Security</label>
                <label style="display: block;" for="topic9"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic9" name="topic" value="relationships"> Relationships</label>
                
                <label style="display: block;" for="topic10"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic10" name="verdict" value="all_uncomfortable"> All of the above</label>
                <br><label style="display: block;" for="topic11"><input style="vertical-align: middle;position: relative;" type="checkbox" id="topic11" name="verdict" value="all_comfortable"> None of the topics were uncomfortable to me</label>
                <p class="py-2 text-danger" id="errorTextbox"></p>
                </div>
          </div>
          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;font-size:20px;">
            <div style="display:block;"><label for="extra_info">Please mention any other additional information that you would like to provide about yourself here</label>
            </div>
            <br>
            <div class="form-group">
            <textarea class="form-control" style="border-radius:20px;" id="exampleFormControlTextarea1" id="extra_info" name="extra_info" rows="3" cols="150"></textarea>
            </div>
          </div>
          <div class="form-group row" style="border:solid lightblue;border-radius:20px;padding:20px;font-size:20px;">
            <div style="display:block;"><label for="feedback">You may also leave any additional feedback for the research team regarding this survey or project here</label>
            </div>
            <br>
            <div class="form-group">
            <textarea class="form-control" style="border-radius:20px;" id="exampleFormControlTextarea1" id="feedback" name="feedback" rows="3" cols="150"></textarea>
            </div>
          </div>
          <p class="py-2 text-danger" id="errorText2"> {{ error }} </p>
          <input type="hidden" id="p1" name="p1" value="">
          <input type="hidden" id="p2" name="p2" value="">
          <input type="hidden" id="p3" name="p3" value="">
          <input type="submit" class="btn btn-lg btn-secondary btn-block" id="submitButton" value="Submit">        
        </form>
        </div>
    </div>
</div>
</body>
<script>
function submitForm() {
  var topic1 = document.getElementById('topic1').checked;
  var topic2 = document.getElementById('topic2').checked;
  var topic3 = document.getElementById('topic3').checked;
  var topic4 = document.getElementById('topic4').checked;
  var topic5 = document.getElementById('topic5').checked;
  var topic6 = document.getElementById('topic6').checked;
  var topic7 = document.getElementById('topic7').checked;
  var topic8 = document.getElementById('topic8').checked;
  var topic9 = document.getElementById('topic9').checked;
  var topic10 = document.getElementById('topic10').checked;
  var topic11 = document.getElementById('topic11').checked;
  var error = document.getElementById('errorTextbox').innerHTML;

  if(topic1 || topic2 || topic3 || topic4 || topic5 || topic6 || topic7 || topic8 || topic9 || topic10 || topic11){
    if(topic10 && topic11){
      alert("You may select 'All of the above' or 'None of the above', not both");
      document.getElementById('errorTextbox').innerHTML = "Error: You may select 'All of the above' or 'None of the above', not both";
      return false;
    }
    else if(topic11 && (topic1 || topic2 || topic3 || topic4 || topic5 || topic6 || topic7 || topic8 || topic9)){
      alert("You cannot select 'None of the above' and mark any of the given topics simultaneously");
      document.getElementById('errorTextbox').innerHTML = "Error: You cannot select 'None of the above' and mark any of the given topics simultaneously";
      return false;
    }
    else if(topic10 && (topic1 || topic2 || topic3 || topic4 || topic5 || topic6 || topic7 || topic8 || topic9)){
      alert("You cannot select 'All of the above' and mark any of the given topics simultaneously");
      document.getElementById('errorTextbox').innerHTML = "Error: You cannot select 'All of the above' and mark any of the given topics simultaneously";
      return false;
    }
    else{
      document.getElementById("p1").value = document.getElementById("country_birth").options[document.getElementById("country_birth").selectedIndex].innerHTML;
      document.getElementById("p2").value = document.getElementById("state_birth").options[document.getElementById("state_birth").selectedIndex].innerHTML;
      document.getElementById("p3").value = document.getElementById("state_residence").options[document.getElementById("state_residence").selectedIndex].innerHTML;
      return true;
    }
  } else{
    alert("Please tick atleast one of the checkboxes before submitting");
    document.getElementById('errorTextbox').innerHTML = "Error: Please tick atleast one of the checkboxes before submitting";
    return false;
  }
}
</script>

</html>

